.details img {
  /* width: 300px; */
  display: inline;
  width: 50vw;
}
.details_info,
.details_img {
  display: inline-block;
  width: 50vw;
}

.details ul {
  display: inline;
  padding: 0;
}
.details li {
  display: inline-block;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.details li > span {
  font-weight: 600;
}
